* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.aboutUs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  color: brown;
  padding-left: 300px;
  border-bottom: solid;
  padding-bottom: 30px;
}

.content {
  display: flex;
  justify-content: center;
  font-size: 25x;
  margin-left: 30px;
  padding-top: 30px;
}

#contact-me {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  border-bottom: solid;
}
